@import "../../utils/General.scss";

.menu {
  position: fixed;

  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;

  z-index: -1;
  background-color: $main;
  transform: translate(0%);
  // transition: 0.3s all ease;

  .list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 30vh;
    margin-left: 5%;
    a {
      font-size: 3em;
      font-weight: 700;
      width: 40%;

      &:hover::after {
        content: url("https://img.icons8.com/ios-glyphs/30/ffffff/circled-right-2.png");
        margin-left: 1rem;
      }
    }
  }

  .list_contact {
    ul {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      margin-left: 5%;

      li {
        margin-right: 20px;
      }
    }
  }
}
