@import "../../utils/General.scss";

header {

    position: fixed;
    z-index: 2;

    width: 90%;

    top: 40px;
    left: 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
        font-size: 0.6rem;
    }

    .h_menu {
        width: 30px;
        height: 30px;
        
        svg {
            color: $white;
            width: 30px;
            height: 30px;
        }
    }
}
